.changeView {
  display: flex;
}
.changeView__buttonList {
  background-color: #fff;
  color: #1F2D3D;
  padding: 8px 11px 8px 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #D3DCE6;
  transition: all 0.3s ease 0s;
}
.changeView__buttonList:hover {
  color: #fff;
  border: 1px solid #050504;
  background-color: #050504;
}
.changeView__buttonList_active {
  color: #fff;
  border: 1px solid #050504;
  background-color: #050504;
}
.changeView__buttonGrid {
  color: #1F2D3D;
  padding: 8px 10px;
  border: 1px solid #e7ebf0;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.3s ease 0s;
}
.changeView__buttonGrid:hover {
  color: #fff;
  background-color: #050504;
  border: 1px solid #050504;
}
.changeView__buttonGrid_active {
  color: #fff;
  border: 1px solid #050504;
  background-color: #050504;
}