.item {
  font-family: "Avener", sans-serif;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  background-color: #F9FAFC;
  border-radius: 25px;
}
.item:not(:last-child) {
  margin-bottom: 8px;
}
.item__info {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 0 1 37%;
}
.item__avatar {
  background-color: #E6E7EB;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.item__name {
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
  color: #3C4858;
  margin-bottom: 2px;
}
.item__legalName {
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  color: #8492A6;
}
.item__location {
  flex: 0 1 25%;
}
.item__country {
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
  color: #3C4858;
}
.item__region {
  color: #8492A6;
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
}
.item__direction {
  color: #3C4858;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  flex: 1 1 auto;
}
.item__direction div {
  max-width: 152px;
}
.item__actions {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.disabled {
  cursor: not-allowed;
}