.item {
  padding: 24px 24px 30px 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: #EFF2F7;
}
.item__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.item__realAvatar {
  width: 64px;
  height: 64px;
}
.item__realAvatar img {
  max-width: 100%;
}
.item__mockAvatar {
  background-color: #E6E7EB;
  width: 64px;
  height: 64px;
}
.item__name {
  font-family: Avenir;
  font-size: 24px;
  color: #050504;
  font-weight: 800;
  line-height: 133%;
}
.item__nikname {
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
  color: #8492A6;
}
.item__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.item__button {
  border-radius: 5px;
  background-color: #3C4858;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11px 15px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
}
.item__smallButton {
  padding: 12px;
  background-color: inherit;
  border-radius: 8px;
  border: 2px solid #3C4858;
  transition: all 0.3s ease 0s;
}
.item__smallButton:hover {
  background-color: #3C4858;
  color: #fff;
}
.item__smallButton_active {
  background-color: #3C4858;
  color: #fff;
}
.item__additionalActions {
  padding: 0 5px;
}
.item__additionalActionsButton {
  font-weight: 800;
}
.item__additionalActionsButton:hover {
  text-decoration: underline;
  color: #050504;
}

.disabled {
  cursor: not-allowed;
}

.tabs {
  display: flex;
  gap: 16px;
  padding: 0px 24px;
}
.tabs__button {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  height: 100%;
  position: relative;
}
.tabs__button::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s linear 0s;
  background-color: #050504;
  border-radius: 200px 200px 0px 0px;
}
.tabs__button:hover {
  color: #050504;
}
.tabs__button:hover::after {
  width: 100%;
}
.tabs__button_active {
  color: #050504;
}
.tabs__button_active::after {
  width: 100%;
}