@import url("https://fonts.cdnfonts.com/css/avenir");
.sidebar {
  z-index: 10;
  position: fixed;
  font-family: "Avenir", sans-serif;
  height: 100%;
  flex: 0 1 104px;
  padding: 40px 32px 48px 40px;
  background-color: #050504;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.sidebar__companyLogo {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.sidebar__companyName {
  font-weight: 800;
  font-size: 32px;
  line-height: 122%;
  color: #fff;
}
.sidebar__logo {
  font-family: "Bebas Neue";
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  display: block;
}
.sidebar .menu {
  flex: 1 1 auto;
}
.sidebar .menu__list {
  display: grid;
  grid-template-columns: 1;
  gap: 32px;
}
.sidebar .menu__link {
  display: inline-flex;
  align-items: center;
  color: #3C4858;
  overflow: hidden;
  transition: color 0.3s ease 0s;
}
.sidebar .menu__link:hover {
  color: #fff;
}
.sidebar .menu__link:hover > .menu__linkCircle {
  background-color: #fff;
}
.sidebar .menu__link svg {
  width: 32px;
  height: 32px;
}
.sidebar .menu__link_active {
  color: #fff;
}
.sidebar .menu__link_active > .menu__linkCircle {
  background-color: #fff;
}
.sidebar .menu__linkCircle {
  display: inline-block;
  background-color: #3C4858;
  width: 32px;
  height: 32px;
  color: #fff;
  border-radius: 50%;
  transition: background 0.3s ease 0s;
}
.sidebar .menu__linkLabel {
  font-size: 16px;
  font-weight: 800;
  line-height: 150%;
  padding-left: 28px;
  display: inline;
}

.openSidebar {
  z-index: 10;
  width: 336px;
  height: 100%;
  position: fixed;
  box-shadow: #050504 2px 0px 8px;
}

.logoutLink {
  color: #3C4858;
  overflow: hidden;
  transition: color 0.3s ease 0s;
  display: inline-flex;
  align-items: center;
}
.logoutLink:hover {
  color: #fff;
}
.logoutLink:hover > .menu__linkCircle {
  background-color: #fff;
}

.userAvatar {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.userAvatar img {
  max-width: 100%;
  border-radius: 50%;
}

.disabled {
  pointer-events: none;
}