.tabs__list {
  display: flex;
  gap: 20px;
}
.tabs__button {
  color: #B4B4B4;
  padding: 9px 12px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  position: relative;
}
.tabs__button_active {
  color: #050504;
}
.tabs__button_active .tabs__quantity {
  background-color: #050504;
  color: #fff;
}
.tabs__button:hover {
  color: #050504;
}
.tabs__button:hover .tabs__quantity {
  background-color: #050504;
  color: #fff;
}
.tabs__button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #050504;
  border-radius: 200px 200px 0px 0px;
  transition: width 0.4s linear 0s;
}
.tabs__button:hover::after {
  width: 100%;
}
.tabs__button_active::after {
  width: 100%;
}
.tabs__quantity {
  transition: background 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #B4B4B4;
  width: 34px;
  height: 24px;
  border-radius: 8px;
}