.peopleSection {
  padding: 24px 40px;
  flex: 1 1 auto;

  .header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body{
  }
  .filters{

    &__name{}
    &__company{}
  }

  .people{
    padding-top: 20px;
  }
  .peopleGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    column-gap: 29px;
    row-gap: 16px;
  }
}
.preloader {
  margin-left: 400px;
  margin-top: 200px;
}

.error {
  margin-left: 400px;
  margin-top: 200px;
  color: #000;
  font-size: 50px;
  font-weight: 700;
}