.peopleSection {
  .header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tabs{
    display: flex;
    gap: 20px;

    &__button{
      color: #B4B4B4;
      padding: 9px 12px;
      display: flex;
      column-gap: 8px;
      align-items: center;
      position: relative;
      
      &_active{
        color: #050504;
      }
      &_active .tabs__quantity{
        background-color: #050504;
        color: #fff;
      }
      &:hover{
        color: #050504;
      }
      &:hover .tabs__quantity{
        background-color: #050504;
        color: #fff;
      }
      &::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #050504;
        border-radius: 200px 200px 0px 0px;
        transition: all 0.4s linear 0s;
      }
      &:hover::after{
        width: 100%;
      }
      &_active::after{
        width: 100%;
      }
    }
    &__quantity {
      color: #fff;
      background-color: #B4B4B4;
      width: 34px;
      height: 24px;
      border-radius: 8px;
    }
  }
  .changeView{
    display: flex;

    &__buttonList{
      background-color: #050504;
      color: #fff;
      padding: 8px 11px 8px 10px;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #050504;
      transition: all 0.3s ease 0s;
      &:hover{
        color: #050504;
        background-color: #fff;
        border: 1px solid #D3DCE6;
      }
    }
    &__buttonGrid {
      color: #1F2D3D;
      padding: 8px 10px;
      border: 1px solid #e7ebf0;
      border-radius: 0px 5px 5px 0px;
      transition: all 0.3s ease 0s;
      &:hover {
          background-color: #e7ebf0;
        }
    }
  }

  .body{}
  .filters{

    &__name{}
    &__company{}
  }

  .people{
    padding-top: 20px;
  }
  .peopleList{}
}