.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-left: 40px;
  align-items: center;
  &__title{
    font-size: 40px;
    font-weight: 700;
    color: #050504;
  }
  &__body{}
  &__buttons{
    display: flex;
    gap: 25px;
  }
  &__button{
    color: #1F2D3D  ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: background 0.3s ease 0s;
    &:hover{
      background-color: #e0e0e0;
    }
  }
}