.companies {
  padding: 24px 40px;
  flex: 1 1 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    height: 90px;
  }
  &__list {
    display: block;
    &_grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      column-gap: 29px;
      row-gap: 16px;
    }
  }
}
.preloader, .error {
  padding: 200px 0px 0px 200px;
}
.error {
  font-weight: 700;
  line-height: 150%;
  font-size: 30px;
}