  .changeView {
    display: flex;

    &__buttonList {
      background-color: #fff;
      color: #1F2D3D;
      padding: 8px 11px 8px 10px;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #D3DCE6;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #fff;
        border: 1px solid #050504;
        background-color: #050504;
      }

      &_active {
        color: #fff;
        border: 1px solid #050504;
        background-color: #050504;
      }
    }

    &__buttonGrid {
      color: #1F2D3D;
      padding: 8px 10px;
      border: 1px solid #e7ebf0;
      border-radius: 0px 5px 5px 0px;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #fff;
        background-color: #050504;
        border: 1px solid #050504;
      }

      &_active {
        color: #fff;
        border: 1px solid #050504;
        background-color: #050504;
      }
    }
  }