.item {
  font-family: 'Avenir', sans-serif;
  display: flex;
  align-items: center;
  column-gap: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_active {
      & .positions__name {
        color: #000;
      }

      & .item__checkbox {
        background-color: #000;
      }
    }

  &__checkbox {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #D3DCE6;
  }

  &__name {
    font-weight: 400;
    color: #3C4858;
    font-size: 14px;
    line-height: 171%;
    flex: 1 1 auto;

    & span {
      cursor: pointer;
    }
  }

  &__quantity {
    font-size: 14px;
    font-weight: 800;
    line-height: 143%;
  }
}